asgiref
certifi
charset-normalizer
colorama
dj-database-url
Django
django-cities
django-ckeditor
django-crispy-forms
django-heroku
django-js-asset
django-model-utils
gunicorn==20.1.0
idna
joblib
jsmin
numpy
pandas
Pillow
psycopg2
python-dateutil
pytz
requests
scikit-learn
seaborn
scipy
six
sklearn
sqlparse
swapper
threadpoolctl
tqdm
typing-extensions
urllib3
whitenoise
