{% extends 'blog/layout.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/aboutus.css' %}">   
{% endblock %}

{% block body %}


<!-- About Us Start -->

<div id="about-us-div" >
<h1 id="aboutus-title">ART+</h1>
<h4>What is Tech+ ?</h4>
<br>
<h5>Tech+ is a platform where you can read articles about different programming languages.</h5>
<h5>We want to bring you both current and creative contents.</h5>

<h3>request in contact form for writing blogs</h3>


</div>
<!-- About Us End -->

{% load static %}
<script src="{% static 'blog/js/aboutus.js'%}"></script>
{% endblock %}