{% extends 'blog/layout.html'%}

{% block body %}

<h2 style="margin: 1%;" id="ha">Login</h2>


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
<div class="container">
    <form action="{% url 'login' %}" method="post" class="register-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="form-label mt-4">Username</label>
            <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        <input class="btn btn-danger register-form" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>
{% endblock %}