<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color: #506172;
        }
    </style>
</head>
<body>
    <p><p>Hello Devs, in this post I&#39;m gonna tell you about how to make the best portfolio for developers, that increases your chances for getting hired in a company, Make a best portfolio so that your employer and company is impressed by just seeing your portfolio if your portfolio is looking good and awesome so people think if this person portfolio is this much better and good, so how much better work he can do for us and your portfolio also increases your chances for a high salary and always remember people judge you by your work and your projects, so make the best portfolio for yourself and impress everyone.</p>

<p>I&#39;m gonna tell you some key points in your portfolio that attract everyone.</p>

<p>My Portfolio:-&nbsp;<a href="https://saiagneshherokuapp.com/">https://saiagneshherokuapp.com/</a></p>

<h4>1) A good website template or theme.</h4>

<p><a href="https://ibb.co/tK6MTJT"><img src="https://i.ibb.co/SygX434/portfolio1.png" style="height:190px; width:400px" /></a></p>

<p>Always choose the best theme, if you are a designer so you can easily make the best theme but if you don&#39;t know about designing or HTML, CSS, JS so you can download free templates and design the portfolio and enter your personal information and your skills.</p>

<h4>2) Skills</h4>

<p><a href="https://ibb.co/3vYRQFF"><img src="https://i.ibb.co/JqF3gpp/image.png" alt="image"  style="height:133px; width:400px" /></a></p>

<p>Your skills are the most important things in your portfolio. Show off your skills on your portfolio.</p>

<h4>3) Bio/Information</h4>

<p><a href="https://ibb.co/2kKzzvX"><img src="https://i.ibb.co/4VNbb8B/image.png" style="height:181px; width:400px" /></a></p>

<p>Mention your complete information in the portfolio and your studies or graduation information, so that people know about you.</p>

<h4>4) Experience</h4>

<p>Mention your personal experience and total experience in the portfolio so that if someone wants to hire you so he knows about you very well.&nbsp;</p>

<p>and the most important thing is your projects.</p>

<h4>5) Projects</h4>

<p><a href="https://ibb.co/BfqcTpb"><img src="https://i.ibb.co/cyDk2B0/image.png" alt="image"  style="height:165px; width:400px" /></a></p>

<p>Please mention your projects in your portfolio so people can see your projects and that&#39;s the main feature that increases your chances of getting hired in the company and also increase your salary.</p>

<h4>6) Resume</h4>

<p>This is the most important feature in your portfolio, add a PDF file of your resume and create a download link or button in your portfolio so that companies can download your resume and contact you and it increases your chances of getting hired in the company.</p>

<p>Always remember companies just want work from you that&#39;s it, so express or show off your work or your skills as much as possible.&nbsp;&nbsp;</p>

<p>Thank You</p>

</body>
</html>